<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
    <title>ASCII Art Web</title>
    <!-- Link to external CSS file -->
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <h1>ASCII Art Generator</h1>
    
    <!-- Form to generate ASCII art -->
    <form action="/ascii-art" method="POST">
        <label for="text">Enter Text:</label>
        <div class="centered">
            <textarea id="text" name="text" required rows="3" cols="40"></textarea>
        </div>
        <br><br>
        
        <label>Select Banner:</label>
        <div class="radio-group">
            <input type="radio" id="standard" name="banner" value="standard" checked="checked" required>
            <label for="standard">Standard</label>

            <input type="radio" id="shadow" name="banner" value="shadow">
            <label for="shadow">Shadow</label>

            <input type="radio" id="thinkertoy" name="banner" value="thinkertoy">
            <label for="thinkertoy">Thinkertoy</label>
        </div>
        
        <br>
        <button type="submit">Generate ASCII Art</button> 
        <div style="margin-top: 20px;">
            <a href="/download">
                <button type="button">Download ASCII Art</button>
            </a>
        </div>
    </form>


    <!-- Display ASCII art result if present -->
    {{if .}}
    <h2>Result:</h2>
    <pre class="center">{{.}}</pre>
    {{end}}
</body>
</html>

<!-- SECRET MESSAGE: THANK YOU FOR THE AUDIT!!! -->
